#searchResult{
  /* display: none; */
  color:#fff !important;
  padding:1rem 0px;
}
/* #searchResult::before {
  content: ":
  
} */
#searchResult .search-title {
  text-align: center;
  /* color:whitesmoke; */
}
#searchResult .same-date-tasks {
  margin:1rem 0;
}

#searchResult .same-date-tasks .day-date {
  font-size: 1rem;
  /* border: 1px solid white; */
  padding: 10px;
  background: #f5f;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  padding-left: 37px;
}

#searchResult .same-date-tasks .tasks-list {
  padding-left: 2rem !important;
  margin-top:1rem;
  padding: 10px;
  background:rgba(221, 85, 226, .7);
  border:1px solid rgba(0, 5, 8, .5);
  border-radius:8px;
}

#searchResult .same-date-tasks .tasks-list:hover {
  background:rgba(221, 85, 226, .7);
  /* color:white !important; */
  /* opacity: .5; */
  border:1px solid rgba(0, 5, 8, .5);
  border-radius:8px;
}

#searchResult .same-date-tasks .tasks-list li {
  font-size: 1rem;
  padding: 5px 14px;
  border-radius:5px;
  margin: 5px 0px;
  color: #f5f;
  background:rgba(0, 5, 9, .3);
  border:1px solid #000;
  font-weight: 8000;
  text-transform: capitalize;
}
#searchResult .same-date-tasks .tasks-list li:hover {
  /* border-bottom: 1px solid #f5f; */
  background:rgba(0, 5, 9, .7);
  border:1px solid #000;
  /* font-weight: bold; */
  cursor: pointer;
}

.done-task-container {
  padding:1.2rem;
  background:rgba(0, 5, 8, .3);
  margin:.6rem 0;
  box-shadow:1px 1px 20px rgba(255, 255, 255, 0.2);
  border-top-left-radius: 91px;
  border-bottom-right-radius: 91px;
  text-align: center;
  animation-duration: 2s;
  animation-name:movetask;
  animation-iteration-count: infinite;
}
.done-task-container:hover {
  background:rgba(0, 5, 8, .5);
}
.done-task-container .done-task-title {
  font-size:1.2rem;
  padding:.3rem 0;
  color: aquamarine;
  text-transform: capitalize;
}
.done-task-container .done-task-title::before {
  content: "";
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid aquamarine;
  /* margin-top:5px; */
  padding-right:5px;
  /* border:1px solid white; */
}
.done-task-container span {
  /* display: block; */
  margin:.2rem 0;
  margin-right:.8rem;
  font-size: .9rem;
}
.done-task-container span::before {
  content:"";
  display: inline-block;
  border:1px solid white;
  height:10px;
  width:10px;
  border-radius:50%;
  margin-right:7px;
}
.done-task-container  .done-task-created-date {
  color:greenyellow;
}
.done-task-container  .done-task-created-date::before {
  background:greenyellow;
  border-color:greenyellow;
}
.done-task-container .done-task-end-date {
  color:red;
}
.done-task-container .done-task-end-date::before {
  background:red;
  border-color:red;
}
