.container{
  position: relative;
  width: 100%;
  height: 900px;
  background-color: whitesmoke;
}.to-do-app{
  position: relative;
  width: 40%;
  min-height: 100px;
  background: transparent;
  margin: 50px auto;
  /* padding: 25px; */
}.to-do-app > section{
  padding:25px;
  /* background: wheat; */
  border: px solid transparent;
}
.full-window {
 position: relative;
}
.to-do-app > section:hover{
  border-color: royalblue;
}.to-do-app > hr{ 
  background: white;
  color: white; 
}#tasksStack .new-day{
  padding: 20px;  
}#tasksStack .dateStr{
  /*border: 1px solid blue;*/
  text-align: center;
  height: 35PX;
  margin: 5px 0px;
}#tasksStack .dateStr P{
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: rebeccapurple;
}#tasksStack:hover {
  
}.create-task{
  background:  var(--mn-clr) !important;
  /*! border-radius: 65px; */
  box-shadow: 1px 1px 14px var(--bx-sh), -1px -1px 14px var(--bx-sh);
  margin: 5px 0px;
  border-top-left-radius: 71px;
  border-bottom-right-radius: 71px;
}.create-task input{
  /*! border-radius: 65px; */
  border-top-left-radius: 71px;
  border-bottom-right-radius: 71px;
}.task-name {
  width: 80%;
  padding: 9px;
  font-size: .8rem;
  background: white;
  border: 0px solid #b2aeae;
  color: var(--mn-clr);
  text-align: center;
  text-transform: capitalize;
  /*font-weight: bold;*/
}.create-task-btn{
  width: 20%;
  text-align: center;
  font-size: .9rem;
  line-height: 12px;
  font-weight: bold;
  cursor: pointer;
  background: var(--brn-clr);
  color: var(--mn-clr);
  border: 0px solid var(--brn-clr);
  height: 35px;
  padding: 10px;
  transition: all .3s linear;
  float: right;
  /*! border-radius: 65px !important; */
  /* box-shadow: 0px 0px 10px white; */
  opacity: 1;
  border-top-left-radius: 71px;
  border-bottom-right-radius: 71px;
}.create-task-btn > span {
  position: absolute;
  width: 20px;
  background:white
}.create-task-btn:hover {
  /* background:grey;
  color: grey;
  border: 1px solid grey; */
  /* color:rebeccapurple; */
  opacity: .8;
}.tasks-container .task {
  position: relative;
  padding:5px 0px;
  margin: 0px 0px;
  animation-duration: 2s;
  animation-name:movetask;
  animation-iteration-count: infinite;
  animation-direction: alternate;
} .tasks-container span{
  /* color: #7c827a;
  display: inline-block;
  border-right: 1px solid #7c827a;
  padding: 0px 9px;
  font-size: .9rem; */
}.tasks-container .task:hover .task-details{
  box-shadow:1px 1px 25px lightgrey;
            /* -1px -1px 20px lightgrey; */
}.tasks-container p.task-name {
  position: relative;
  width: 100%;
  height: 32px;
  color: var(--brn-clr);
  border: 2px solid var(--mn-clr);
  font-size: .9rem;
  cursor: pointer;
  text-align: justify;
  /*! border-top-left-radius: 25px; */
  /*! border-top-right-radius: 25px; */
  padding: 6px 23px;
  background: var(--mn-clr);
  /*! font-weight: bold; */
  /* border-radius: 7px; */
  border-top-left-radius: 71px;
  border-bottom-right-radius: 71px;
  box-shadow: 1px 1px 7px var(--bx-sh), -1px -1px 7px var(--bx-sh);
  margin: 2.1px 0;
}
.tasks-container p.task-name .options-container {
  position: absolute;
  top: 0;
  right:160px;
  width: 200px;
  height: auto;
  background-color: var(--mn-clr);
  color:var(--brn-clr);
  border: 1px solid var(--mn-clr);
  font-size:1rem;
  text-align: center;
  z-index: 11;
};

.tasks-container p.task-name:hover{
  /* background-color:lightvar(--mn-clr) !important; */
  border-color:var(--mn-clr)yellow !important;
  /* color: var(--mn-clr) !important; */
  /* font-weight: bold; */
  /* color:coral; */
}.tasks-container p.task-name .build-date {
  float: right;
  color: var(--mn-clr);
  border: 1px solid var(--brn-clr);
  background:var(--brn-clr);
  padding:3px 16px;
  font-size:.7rem;
  /* border-radius: 7px; */
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: -2px 2px;
  font-weight: bold;
}.tasks-container p.task-selected{
  background-color: var(--mn-clr);
  color: var(--brn-clr) !important;
  border-color: rebeccapurple !important;
}.tasks-container p.task-selected .build-date{
  border-color: var(--brn-clr);
  color:lightvar(--mn-clr);
}.tasks-container p.delete-selected{
  background-color: white;
  color: blue !important;
  border-color: blue !important;
}.tasks-container .task .task-details {
  
  background: transparent;
  padding: 5px 11px;
  color: #7c827a;
  margin-top: 0px;
  border: 1px solid grey;
}
/* .tasks-container > p.task-name > button {
  float: right;
  margin: 9px 4px;
  font-size: .8em;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px 19px;
} */

.tasks-container fieldset{
  
  cursor: pointer;
  /*! background: var(--mn-clr); */
  border: 0px solid var(--mn-clr);
  z-index: 2;
  border-top: 4px solid var(--mn-clr);
  /*! border-bottom: 2px solid #71c371; */
  box-shadow: 1px 1px 15px var(--bx-sh), -1px -1px 15px var(--bx-sh);
}

.tasks-container fieldset .closed-division {
  display: none !important;
}

.tasks-container fieldset legend {
  border: 1px solid var(--mn-clr);
  padding: 5px 40px;
  border-radius: 7px;
  font-weight: bold;
  color: var(--mn-clr);
  text-transform: uppercase;
  z-index: 6;
  background: var(--brn-clr);
  /*! margin: 5px auto; */
  font-size: 1rem;
  /*! margin: ; */
  box-shadow: 1px 1px 15px var(--bx-sh), -1px -1px 15px var(--bx-sh);
}

.tasks-container fieldset legend.opened {
  background: var(--mn-clr) !important;
  color: var(--brn-clr) !important;
}