.options-stack {
  /*! border: 1px solid var(--brn-clr); */
  box-shadow: 1px 1px 6px var(--brn-clr);
}.options-stack .option:hover {
  background: var(--brn-clr);
  color: var(--mn-clr);
}

/* Group option */
.options-stack input.group-identifier {
  color: var(--mn-clr);
  padding: 5px 10px;
  width: 100%;
  text-align: center;
}

.task .group-address {
  color: var(--mn-clr);
  /* border: 3px solid var(--mn-clr); */
  display: inline-block;
  padding: 5px 10px;
  margin: 0px 3px;
  font-size: .9rem;
  border-radius: 5px;
  background: var(--tsk-option);
  /* font-weight: bold; */
  margin-top: 5px;  
}
/* 
.task span.group-address:nth-child(1){
  background:#f10018 !important;
}

.task span.group-address:nth-child(2){
  background:green !important;
}

.task span.group-address:nth-child(3){
  background:blue !important;
}

.task span.group-address:nth-child(4){
  background:rgb(226, 28, 167) !important;
}


.task span.group-address:nth-child(5){
  background:rgb(240, 168, 14) !important;
} */


/* Counter option */
.task-counter{
  position: relative;
}

.task-counter .counter-options{
  position: absolute;
  width: fit-content;
  height: auto;
  border: 1px solid #000;
  
  top: 0;
  left: 100%;
  box-shadow: 1px 1px 6px var(--brn-clr);
}

.task-counter .counter-options > *{
  background: rgba(0,0,0,.6);
  color: #fff;
  text-align: center;
  padding: .2rem 0;
  border-bottom: 1px solid #fff;
  /* font-size: ; */
}
.task-counter .counter-options > *:hover{
  background: #ffffff;
  color: #000;
}

.task-groups .run-counter {
  background-color: rgba(47, 214, 47, 0.7);
  color: #fff;
  font-weight: bold;
}

.task-groups .warn-counter {
	background-color: red;
  color: #fff;
  font-weight: bold;
}

.task-counter .counter-options > p{
  
  padding: .2rem 2rem;
  /*! border-bottom: 1px solid #fff; */
}

.task-counter .counter-options .stop-counter {
  background: rgba(0,0,0,.6);
  /* border: rgba(229, 45, 174, 0.7); */
}
.task-counter .counter-options .stop-counter:hover{
  background: #ffffff;
  color:rgba(229, 45, 174, 0.7);
  border-color: #ffffff;
}

.task-counter .counter-options  .restart-counter {
  background: rgba(0,0,0,.6);
  /* border-color: lightseagreen; */
}
.task-counter .counter-options .restart-counter:hover{
  background: #ffffff;
  color:lightseagreen;
  /* border-color: lightseagreen; */
}

.task-counter .counter-options .delete-counter {
  background: rgba(0,0,0,.6);
  /* border-color: rgba(241, 25, 25, 0.8); */
}

.task-counter .counter-options .delete-counter:hover{
  background: #ffffff;
  color:rgba(241, 25, 25, 0.8);;
  /* border-color: rgba(241, 25, 25, 0.8);; */
}

.task-counter .counter-options .continue-counter{
  background: rgba(0,0,0,.6);
  /* border-color: #ffffff; */
  /* color:lightgreen; */
}

.task-counter .counter-options .continue-counter:hover{
  color:blueviolet;
  background-color: #ffffff;
}


.stop-counter-item{
  background: burlywood !important;
  color: #3f4524 !important;
}

.counter-item {

  box-shadow: 1px 1px 6px #fff;
}
